*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
font-size: 15px;
line-height: 1.5;
font-family: 'Montserrat', sans-serif;
background-color: thistle;
}
a{
    text-decoration: none;
    color:inherit;
}
.header-wrap{
    max-width: 800px;
    width:85%;
    margin:0 auto;
    padding: 10px 0;
    display: block;
    text-align: center;

}
.header-wrap h1{
    font-size: 30px;
    line-height: 1;
}
.header-wrap h3{
    font-size: 20px;
}
.heading1{
    display:block;
    margin:0 auto;
    padding: 10px 0;
    width: inherit;
    max-width: 800px;
    width: 85%;
}
.heading1 h1{
font-size:30px;
text-transform:capitalize;
}
.heading1 p{
   font-size: 20px; 
}
.Education-heading{
    max-width: 800px;
    width: 85%;
    display: block;
    margin:0 auto;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}
.Education-heading h1{
    font-size:30px;
    text-transform: capitalize;
}
.Education-heading ul{
    display: flex;
    align-items:center;
    justify-content: space-between;
    list-style-type: none;
}
.Education-heading p{
    font-size: 20px;
}
.Education-heading ul li h3{
    white-space: nowrap;
    font-size: 20px;
}
.certification-heading{
    display: block;
    margin:0 auto;
    padding: 10px 0;
    max-width: 800px;
    width: 85%;
}
.certification-heading h1{
    font-size: 30px;
    text-transform:capitalize;
}
.certification-heading ul{
    display: flex;
    align-items:center;
    justify-content: space-between;
    list-style-type: none;
}
.certification-heading ul li h3{
    font-size: 20px;
    white-space: nowrap;
}
.workexperience-heading{
    display: block;
    margin:0 auto;
    padding: 10px 0;
    max-width: 800px;
    width: 85%;
}
.workexperience-heading h1{
    font-size: 30px;
    text-transform: capitalize;
}
.workexperience-heading h2{
    font-size: 20px;
    white-space: nowrap;
}
.workexperience-heading ul li p{
  font-size: 20px; 
  text-align: left;
  width: 50%; 
}
.workexperience-heading ul{
    list-style-type: none;
}
.workproof1,
.workproof2,
.workproof3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leadership-heading{
    display: block;
    margin:0 auto;
    padding: 10px 0;
    max-width: 800px;
    width: 85%;
}
.leadership-heading h1{
    font-size:30px;
    text-transform: capitalize;
}
.leadership-heading ul{
    list-style-type: none;
}
.leadership-heading ul li p{
    font-size: 20px;
}
.project-heading{
    display: block;
    margin:0 auto;
    padding: 10px 0;
    max-width: 800px;
    width: 85%;
}
.project-heading h1{
    font-size:30px;
    text-transform: capitalize;
}
.project-heading ul{
    list-style-type: none;
}
.project-heading ul li p{
    font-size: 20px;
}
/*@media screen and (max-width:1200px) {
    
}
@media screen and (max-width:992px) {
    
}

@media screen and (max-width:768px) {
    
}*/
@media screen and (max-width:576px) {
    .header-wrap{
        width: 400px;
        margin:0 auto;
        padding:20px 0;
        font-size: 15px;
    }
    .heading1{
        margin:0 auto;
        padding: 20px 0;
        width: 400px;
        font-size: 15px;
    } 
    .Education-heading{
        width: 400px;
        margin: 0 auto;
        padding: 20px 0;
        font-size: 15px;
    }
    .Education-heading ul{
       display: inline-block;
    }
    .certification-heading{
        margin:0 auto;
        padding: 20px 0;
        width: 400px;
        font-size: 15px;
    }
    .certification-heading ul{
        display: block;
        place-items: center;
    }
    .workexperience-heading{
        font-size: 15px;
        margin:0 auto;
        padding: 20px 0;
        width: 400px;
    }
    .workproof1,
    .workproof2,
    .workproof3{
        display: block;
        place-items: center;
    }
    .leadership-heading{
        font-size: 10px;
        margin:0 auto;
        padding: 20px 0;
        width: 400px;
    }
    .project-heading{
        font-size: 15px;
        margin:0 auto;
        padding: 20px 0;
        width:400px;
    }
    
}
